@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Special+Elite&display=swap');

#content  {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}
#hero-img {
    width: 100%
}
#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
    color: #4A0D67;
}
body {
    background-color: white;
    font-family: 'Special elite', 'Georgia', 'san-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    font-family: 'indie flower', 'georgia', 'serif';
}
header {
    background-color: #4A0D67;
    display: grid;
    grid-template-columns: 150px auto;    
}
nav a:hover {
    background-color: #473198;
    color: #B97DD5;
}
.book, .join {
    background-color: #B97DD5;
    color:#4A0D67;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: white;
    color:#4A0D67
}
#background {
    height: 725px;
    background-color: #4A0D67;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}
.msg {
    background-color: #B97DD5;
    text-align: center;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #B97DD5;
}
footer {
    background-color: #B97DD5;
    color:#4A0D67;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:#4A0D67;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
h4 {
    color: #4A0D67;
    font-family: 'indie flower', 'georgia', 'serif';
}
.msg h2 {
    color:#4A0D67;
}
.msg p {
    color: #4A0D67;
    font-size: .8em;
    padding-bottom: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.img {
    margin: 0 auto;
}
.home-title {
    color: #4A0D67;
    font-family: 'indie flower', 'georgia', 'serif';
    font-size: 2em;
    margin-top: 10px;
}
div {
    max-width: 1600px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    border: 10px;
    color:#4A0D67;
}
.card-img {
    border: 10px solid #4A0D67;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #B97DD5;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.camping-card {
    display: grid;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}
.rapids-card {
    display: grid;
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}
.mountains {
    display: grid;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}