#content  {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:black;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.main-section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: white;
}
body {
    background-color: #4A0D67;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a:hover {
    background-color: antiquewhite;
    color:black;
}
.book {
    background-color: antiquewhite;
    color:#4A0D67;
    text-decoration: none;
}
.join {
    background-color: antiquewhite;
    color:#4A0D67;
    text-decoration: none;
}
.book:hover {
    background-color: antiquewhite;
    color:#4A0D67
}
.join:hover {
    background-color: antiquewhite;
    color:#4A0D67
}
.msg {
    background-color: azure;
}
footer {
    background-color: antiquewhite;
    color:#4A0D67;
}
footer a {
    color:#4A0D67;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}
footer a:hover {
    color:#4A0D67;
    text-decoration: underline;
}
.home-title {
    color:#4A0D67;
}
h4 {
    color:#4A0D67;
}
.msg h2 {
    color:#4A0D67;
}
.msg p {
    color:#473198;
}
.icon {
    width: 80px;
}